<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Home Page</title>
</head>
<body>

    <style>
        body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.links a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

    </style>
    <header>
        <nav>
            <div class="logo">
                <a href="/">BlogsPage</a>
            </div>
            <div class="links">
                <a href="/login">Login</a>
                <a href="/create">Create Blog</a>
                <a href="/drafts">Drafts</a>
                                <a href="/myblogs">My Blogs</a>

            </div>
        </nav>
    </header>
    
    <div class="content">
        <p>
            Welcome to the BlogsPage!
        </p>

        <h1>This is Balogun Abdurrahman Mayowa's Altschool Second Semester Nodejs Exam Submission   </h1>

        <a href="/blogspage">
            <button>Go to Blogs</button>
        </a>
    </div>
</body>
</html>
